<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EditFeed</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <span>Welcome To Facebook</span>
    </header>
    <% if(feedInfo !== null){ %>    
        <div class="feed-data">
            <div>
                <h2><%= feedInfo.name %> </h2>
                <p><%= feedInfo.message %></p>
            </div>
            <p><%= feedInfo.createdAt %></p>
        </div>
        <div class="links">
            <a href = "/delete/<%= feedInfo._id %>"><button class="delete-button">Delete</button></a>
            <a href = "/feed/edit/<%= feedInfo._id %>"><button>Edit</button></a>
        </div>
    <% } else { %>
        <h3>No feeds found</h3>
    <% } %>
    
</body>
</html>